fastapi==0.111.0
uvicorn[standard]==0.30.1
python-dotenv==1.0.1
pydantic-settings==2.3.0
httpx==0.27.0
redis==5.0.8
websockets==13.0

# Logging library
iot-logging-schemas @ git+https://github.com/IoT-Hub-Alpha/logging-lib.git@dev
